/*==================================================
 * Pattern background
 * ref: http://subtlepatterns.com/navy/
 * ===============================================*/
body {
  background: url('img/background-tile.png') repeat;
}

/*==================================================
 * Shadow Effect
 * ref: http://www.paulund.co.uk/creating-different-css3-box-shadows-effects
 * ===============================================*/
.box {
  display: block;
  margin: 20px auto;
}

.shadow-effect
{
  position: relative;
}
.shadow-effect:before, .shadow-effect:after
{
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  left: 10px;
  width: 50%;
  top: 80%;
  max-width:300px;
  background: #000;
  -webkit-box-shadow: 0 15px 10px #000;
  -moz-box-shadow: 0 15px 10px #000;
  box-shadow: 0 15px 10px #000;
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  transform: rotate(-3deg);
}
.shadow-effect:after
{
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(3deg);
  right: 10px;
  left: auto;
}


/*==================================================
 * Center and Crop
 * ref: https://stackoverflow.com/questions/11552380/how-to-automatically-crop-and-center-an-image
 * ===============================================*/
.center-cropped {
  width: 100%;
  height: 300px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}


/*==================================================
 * Caption
 * ref: http://web.enavu.com/tutorials/making-image-overlay-caption-using-css/
 * ===============================================*/

div.box {
  position:relative; /* important(so we can absolutely position the description div */
}
div.description{
  position:absolute; /* absolute position (so we can position it where we want)*/
  bottom:0px; /* position will be on bottom */
  left:0px;
  width:100%;
  font-family: 'tahoma';
  font-size:15px;
  color:white;
  background: -webkit-linear-gradient( top, rgba( 0, 0, 0, 0 ) 0%, rgba( 0, 0, 0, 1 ) 140% );
  height: 50px;
}
p.description-content{
  position: absolute;
  bottom: 0px;
  padding:10px;
  margin:0px;
}
